<table class="table">
    <thead>
        <tr>
            <th>Index</th>
            <th>Entry Data</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let use of firebaseservice.array ;index as i'>
            <td>{{i+1}}</td>
            <td>{{use.name}}</td>
            <td><button type="submit" (click)="update(use)">Update</button></td>
            <td><button type="reset" (click)="delete(use)">Delete</button></td>
        </tr>


    </tbody>
</table>